server:
  port: 8011
spring:
  datasource:
      url: jdbc:mysql://localhost:3306/studyplatform?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true
      username: root
      password: 111111
      driver-class-name: com.mysql.jdbc.Driver
  security:
    user:
      name: admin
      password: 123456

  # redis ??
  redis:
    # ??
    host: 172.29.2.104
    # ??????6379
    port: 6379
    # ??
    password:
    # ??????
    timeout: 10s
    lettuce:
      pool:
        # ???????????
        min-idle: 0
        # ???????????
        max-idle: 8
        # ????????????
        max-active: 8
        # #???????????????????????
        max-wait: -1ms

mybatis-plus:
  global-config:
    db-config:
      id-type: id_worker
      field-strategy: not_empty
      #???????????
      column-underline: true
      #??????????
      logic-delete-value: 0
      logic-not-delete-value: 1
      db-type: mysql
    refresh: false
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false
  mapper-locations: classpath*:mapper/**/*.xml
token:
    # ???????
    header: Authorization
    # ????
    secret: abcdefghijklmnopqrstuvwxyz
    # ????????30???
    expire-time: 30
    key: studyplatform